@import url(reset.css);

body{
    font-family: muli,sans-serif;
    font-style: normal;
    background-color: #F0F1F7;

}
.container{
    width: 546px;
    background-color: #fff;
    padding: 60px 60px 27px 60px;
    
}
.container p{
  color: rgba(38, 34, 69, 0.41);
}


.icon{
    display: flex;  
    align-items: center;
    

}
.bar{
 
    line-height: 27,5px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    align-items: center;
    display: flex;
    padding-top: 6px;
    padding-bottom: 3px;
}
.text .metin{
    background-color: #F2F4FF;
    border-radius: 15px;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    color: #1548DD;
}
.text svg{

    display: flex;
    margin-top: -4.5px;
    margin-right: 25px;
}
.gif{
    background-color: #F0F1F7;
    border: 1px solid #E5E7F3;
    box-shadow: #092370;
    width: 206px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: -38px;
    margin-top: 5px;
    font-size: 16px;
    z-index: 2;
    position:relative
}
.cubuk{
position: absolute;
top: 211px;
z-index: 1;

}
.sharebutton{
    background-color: #121C3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    font-size: 16px;
    height: 64px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    margin-top: 28px;
    margin-left: 376px;   
}
.sharebutton p{
    color: #FFFFFF;
}
.draft{
    background-color: rgb(255, 255, 255);
    width: 244px;
    height: 135px;
    display: flex;
    justify-content: center;
    margin-top: -22px;
    margin-left: 362px;
    align-items: center;
   border-radius: 5px;
}
.draft ul li{
    align-items: center;
    font-size: 16px;
    display: flex;
    padding-left: 20px;
    width: 194px;
    height: 50px;
    
}
.draft ul li:first-child{
    background-color: #F2F4FF;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 3px;
}