@import url(reset.css);
body{   
    font-family: 'Mulish', sans-serif;
    background-color: #e5e5e5;
     display: flex;
     flex-direction: column;
     align-items: center;    
}
.container{
  background-color:#FFFFFF;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  position: relative;
  
}
.container .exitbutton{
    position: absolute;
    top:30px;  
    right: 30px;
}
  .tittle{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text{
     font-size: 18px;
     margin-bottom: 30px;
     width: 557px;
}
.share{
    display: flex;
    justify-content: space-between;
}
.share label{
    background-color: #9677EF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    width: 103px;
    height: 49px;
    font-size: 18px;
    margin-left: 10px;
    color: #FFFFFF;
    box-shadow: 0 4px 4px  rgba(150, 119, 239, 0.25);

}
.share input{
    border:1px solid;
    width: 510px;
    padding-left: 20px;
    height: 49px;
    border-radius: 5px;
    
}
.guideandaccept {
    margin-top: 50px;
    border-radius: 6px;
    background-color: #F8F9FD;
    
}
.guideandaccept .guide{
    font-size: 14px;
    font-weight: bold;
    width: 124px;
    height: 18px;
    color: #494949;
    margin-top: 30px;
    margin-left: 20px;
    
}
.guideandaccept .accept{
    font-size: 14px;
    color: #494949;
    width: 467px;
    line-height: 21px;
     margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
    
}
.guideandaccept span{
    text-decoration: underline;

    color:#9677EF;
}

